version: '2'

volumes:
  inkledb:
    external: true

services:

  db:
    env_file: .env
    image: postgres
    volumes:
      - inkledb:/var/lib/postgresql/data/pgdata
      
  app:
    env_file: .env
    build: .
    image: albancrommer/inklewriter:dev
    volumes:
        - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db
  

