version: '2'

volumes:
  inkledb:

networks:
  inklenet:

services:

  db:
    networks: 
      - inklenet
    env_file: .env
    image: postgres
    volumes:
      - inkledb:/var/lib/postgresql/data/pgdata
      
  app:
    networks:
      - inklenet
    env_file: .env
    image: inklewriter:latest
    entrypoint: ""
    command:
      - tail 
      - -f
      - /dev/null
    volumes:
        - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db
  

