# Docker Compose file for Inklewriter

volumes:
  inkledb:

networks:
  inklenet:

services:

  db:
    networks: 
      - inklenet
    env_file: .env
    image: postgres
    volumes:
      - inkledb:/var/lib/postgresql/data/pgdata
      
  app:
    networks:
      - inklenet
    env_file: .env
    image: albancrommer/inklewriter:candidate
    user: "1000:1000"
    volumes:
        - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db
  

