version: '2'

volumes:
  inkledb:

networks:
  inklenet:

services:

  db:
    networks: 
      - inklenet
    env_file: .env
    image: postgres
    volumes:
      - inkledb:/var/lib/postgresql/data/pgdata
      
  app:
    networks:
      - inklenet
    env_file: .env
    environment:
      FEATURE_TEST: "1"
    image: inklewriter:latest
    volumes:
        - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db
  

