#header {	
	font-family: Times, Times New Roman, Georgia, serif;
	background-color: #e6e6e6;
	padding: 15px 0;
	position: relative;

	.container {
		position: relative;
	}

	#logo {
		display: inline-block;
		h1 {
			padding: 0;
			margin: 0;
			
		}
		a {
			text-decoration: none;
			color: hsl(0, 0%, 30%);
		}
		a:hover {
			text-decoration: underline;
			color: black;
		}
	}

	#to-app {
		display: inline-block;
		margin-left: 20px;
		background-color: hsl(359, 60%, 40%);
		border-radius: 4px;
		color: white;
		padding: 3px 4px 2px 5px;
		
		font-size: 0.8em;
		font-family: "sans-serif";
		bottom: 4px;
		position: relative;
		a {
			color: white;
			text-decoration: none;
		}
	}

	

	#user-signed-in {		
		padding-top: 12px;			
		display: inline-block;
		float: right;
		a {
			padding: 0;
			margin: 0;
			display: inline-block;
			font-weight: bold;
			font-size: 1.2em;
			color: hsl(0, 0%, 30%);
		}

		a:hover {
			color: hsl(0, 0%, 50%);

		}
		
	}

	#no-user {
				
		display: inline-block;
		float: right;
	}
}