<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-home" class="main-container">
	<div class="container">
		<div id="hello">
			<p>" Inklewriter is a fantastic online tool that allows users to write interactive stories.<!-- </p><p> --> It has been conceived and developped by Inkle Studio a long time ago but later deprecated. We love it and decided to bring it back to life with Inkle agreement. "</p>
		</div>
	</div>	
</div>

<%= render 'layouts/footer' %>