<%= render 'layouts/header' %>

<div id="community-home" class="main-container">
	<div class="container">
		<div id="hello">
			<p>" Inklewriter is an online tool developped in Javascript by Inkle a long time ago and later deprecated. We love it and decided to bring it back to life with Inkle agreement. It allows users to write interactive stories "</p>
		</div>
	</div>	
</div>

<%= render 'layouts/footer' %>