<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-how-it-works" class="main-container">
	<div class="container">
		<div class="row">
			<p class="comment col-md-12">This page is designed to explain how InkleWriter works. It is currently empty but we will work at providing a complete guide to the application. It is actually possible for you to contribute to it if you have basic knowledge of HTML, CSS and Git/Github (which I admit is probably the hardest part). </p>
		</div>
	</div>	
</div>


<%= render 'layouts/footer' %>