<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">

<!-- Mirrored from writer.inklestudios.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Jun 2018 21:15:07 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>   
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no"/>

    <title>inklewriter</title>
    
        
    
     
    
    <!--[if lt IE 9]>
    <script>IE7_PNG_SUFFIX=".png";</script>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    
    <script>

        // get around console undefined bug in IE
        if(typeof(console) === 'undefined') {
            var console = {}
            console.log = console.error = console.info = console.debug = console.warn = console.trace = console.dir = console.dirxml = console.group = console.groupEnd = console.time = console.timeEnd = console.assert = console.profile = function() {};
        }

    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26887304-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
    <script type="text/javascript">
//<![CDATA[
var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
//]]>
</script>
    
</head>
<body>

    <div id="main_viewport">
        <div id="branding">
            <img id="red" src="img/red.png" />
            <div id="shelf"></div>
            <a href="http://www.inklestudios.com/inklewriter"><img src="img/inklewriter_logo-beta.png" alt="inklewriter" id="logo" /></a>
            
            <div id="right-shelf-container">
                <a class="shelf-icon" style="background-image: url('img/sorcery-shelf-icon.png')" href="http://www.inklestudios.com/sorcery" tooltip="Sorcery!"></a>
                <a class="shelf-icon" style="background-image: url('img/80-days-shelf-icon.png')" href="http://www.inklestudios.com/80days" tooltip="80 Days"></a>
            
                <div id="saveStateMessage">
                    
                    
                    
                </div>
            </div>
            
        </div>

        <!-- <script src="assets/inklewriter_main-610a18412a9574f827449af23b3278b5.js" type="text/javascript"></script> -->

<script>

var trisymbol = "&#9654;";
createTriSymbol();

$(document).bind("keydown", function(event) { 
    if (event.which == 8) {
        var eventFrom = $(event.currentTarget.activeElement);
        if (eventFrom.attr("contenteditable") == "true" || eventFrom.is("input")) 
            return true;
        event.preventDefault();
    }
});

$(document).ready(function(){ 
    
    rangy.init();
    
    
        // Locally saved story
        if( EditorAccount.hasLocalStoryData() ) {
            Editor.setup();
            EditorMenu.loadLocalStory();
        }
    
        // Starting a new session
        else {
            new Splash();
        }
        
    
    EditorMenu.setup();
    
    sizeEditorCorrectly();
    $(window).resize(sizeEditorCorrectly);        
})

</script>

<div id="account_container">
    <div id="fileMenu">
        
    </div>
    <div id="editMenu">
        
    </div>
</div>
            
    </div>

</body>

<!-- Mirrored from writer.inklestudios.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Jun 2018 21:15:07 GMT -->
</html>
