
    <div id="main_viewport">
        <div id="branding">
            <img id="red" src="img/red.png" />
            <div id="shelf"></div>
            <a href="http://www.inklestudios.com/inklewriter"><img src="img/inklewriter_logo-beta.png" alt="inklewriter" id="logo" /></a>
            
            <div id="right-shelf-container">
                <!-- <a class="shelf-icon" style="background-image: url('img/sorcery-shelf-icon.png')" href="http://www.inklestudios.com/sorcery" tooltip="Sorcery!"></a>
                <a class="shelf-icon" style="background-image: url('img/80-days-shelf-icon.png')" href="http://www.inklestudios.com/80days" tooltip="80 Days"></a> -->
            
                <div id="saveStateMessage">
                    
                    
                    
                </div>
            </div>
            
        </div>

      

<script>

var trisymbol = "&#9654;";
createTriSymbol();

$(document).bind("keydown", function(event) { 
    if (event.which == 8) {
        var eventFrom = $(event.currentTarget.activeElement);
        if (eventFrom.attr("contenteditable") == "true" || eventFrom.is("input")) 
            return true;
        event.preventDefault();
    }
});

$(document).ready(function(){ 
    
    rangy.init();
    
    <%if current_user.present? %>        
        EditorAccount.setUserSession({ 
            id:         <%= current_user.id %>, 
            email:      '<%= current_user.email %>'
        });
        EditorAccount.fetchStories({
            success:function() {
                EditorMenu.processSignedInTasks();
            }
        });
    <%else %>
        // Locally saved story
        if( EditorAccount.hasLocalStoryData() ) {
            Editor.setup();
            EditorMenu.loadLocalStory();
        }
    
        // Starting a new session
        else {
            new Splash();
        }
        
    <%end %>
    EditorMenu.setup();
    
    sizeEditorCorrectly();
    $(window).resize(sizeEditorCorrectly);        
})

</script>

<div id="account_container">
    <div id="fileMenu">
        
    </div>
    <div id="editMenu">
        
    </div>
</div>
            
    </div>

