    <div id="main_viewport">
        <div id="branding">
            <img id="red" src="/img/red.png" />
            <div id="shelf"></div>
              <a href="http://www.inklestudios.com/inklewriter"><img src="/img/inklewriter_logo-free.png" alt="inklewriter" id="logo" /></a>
            </div>
            <div id="page_container">

<h1>Privacy Policy</h1>
<p> This Privacy Policy applies to Inklewriter Free or <a href="https://www.inklewriter.com"> www.inklewriter.com</a> (hereinafter, "us", "we", or "www.inklewriter.com").</p>
<h3>Your privacy is essential </h3>
<p>We collect as little information as possible as a general policy.</p>
<p>We use no tracker or any other tool to identify, profile, or target visitors. </p>
<p>We display no paid ads.</p>
<p>We don't distribute, sell, or trade any personal data to anyone.</p>
<h3>Collected informations</h3>
<ul>
  <li><b>Server Logs</b> Inklewriter Free's web server is nginx, which produces standard access logs for every query. Each query log line contains personal datas such as the timestamp of the request, the IP addresses requesting the resource, or the browser used.  These logs are kept only for potential technical analysis for a maximum duration of 6 months. They can only be accessed by the system administration team of Inklewriter Free.</li>
  <li><b>Cookies</b> Inklewriter Free uses Ruby on Rails cookies to identify the users when they log in in order to provide the service. The cookie has no other purposes.</li>
  <li><b>Database records</b> Inklewriter Free stores user accounts and stories in postgresql but keeps no personal information to identify the users in order to provide the service.</li>
</ul>
            </div> 
        </div>
</div> 

<style>
#main_viewport{
    overflow:auto;
}
#page_container {
    background: white;
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    line-height: 2em;
}
h1 {
    font-size: 3em;
    font-weight: normal;
    color: #111;
    padding: 1.39em 0em;
}
h2 {
    font-size: 2em;
    font-weight: normal;
    color: #111;
    padding: 1em 0em;
}
h3 {
    font-size: 1.39em;
    font-weight: normal;
    color: #111;
    padding: 0.61em 0em;
}
</style>
