    <div id="main_viewport">
        <div id="branding">
            <img id="red" src="/img/red.png" />
            <div id="shelf"></div>
              <a href="http://www.inklestudios.com/inklewriter"><img src="/img/inklewriter_logo-free.png" alt="inklewriter" id="logo" /></a>
            </div>
        <div id="player_container">
hello privacy
        </div> <!-- #read_area -->
        </div>
</div> <!-- #player_container -->

