// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative
}
html {
	
}
body {
    line-height: 1;
    
}

#index {

    padding: 10px;

    h1 {}
    h2 {
        margin: 0;
        font-size: 1.2em;
    }
    table#stats  {
        th {
            padding: 10px;
            text-align: center;
        }
        td {
            text-align: center;
        }
    }

    table#search {
        td:nth-child(1) {
            padding: 10px;
            width: 80px;
            text-align: center;
        }
        td:nth-child(2) {
            width: 200px;
        }
        input {
            width: 120px;
            align: left;
        }
        output {
            width: 200px;
        }


    }

    #search-results {
        span {
            display: inline-block;
            overflow: hidden
        }
        .id {
            width: 40px;
            color: blue;
            font-weight: bold;
        }
        .title {
            width: 180px;
            font-weight: bold;
        }
        .author {
                width: 140px;
        }
        .email {
            width: 220px;
        }
        .score {
            width: 220px;
            color: #c39;
            font-weight: bold;
        }

    }
}
