<div id="main_viewport">
      <div id="branding">
          <img id="red" src="/img/red.png" />
          <div id="shelf"></div>
          <a href="http://www.inklestudios.com/inklewriter"><img src="/img/inklewriter_logo-free.png" alt="inklewriter" id="logo" /></a>
      </div>

      
      <div id="player_container" class="error-404">
        <div id="read_area">

          <!-- Initial chunk -->
          <div class="chunk">

          <h1>Oops! Page cannot be found</h1>
          <h3>You may try go back to root page</h3>
          
          </div>
        </div> <!-- #read_area -->
      </div> <!-- #player_container -->
      

    </div>