<div id="main_viewport">
    <div id="branding">
        <img id="red" src="img/red.png" />
        <div id="shelf"></div>
        <a href="http://www.inklestudios.com/inklewriter"><img src="img/inklewriter_logo-free.png" alt="inklewriter" id="logo" /></a>
        
        <div id="right-shelf-container">
            <a class="shelf-text" target="_blank" href="https://github.com/inklewriter/freeinklewriter" tooltip="Get the code!">Github</a>
            <a class="shelf-text" target="_blank" href="/privacy" tooltip="Your privacy matters..." onload="$(this).text(tr('Privacy'))">Privacy</a>
            <div  class="shelf-text" id="language-nav">
              <a id="language-picker" href="javascript:void(0)">Loading...</a>
              <ul id="language-picker-menu">
              </ul>
            </div>

            <div id="saveStateMessage">
                
            </div>
        </div>
        
    </div>

<script>

// Feature flags
var features_list = <%= enabled_features.to_json.html_safe %>;

function is_featured(feature_name) {
  return features_list.indexOf(feature_name) !== -1;
}

var trisymbol = "&#9654;";
createTriSymbol();


$(document).bind("keydown", function(event) { 
    if (event.which == 8) {
        var eventFrom = $(event.currentTarget.activeElement);
        if (eventFrom.attr("contenteditable") == "true" || eventFrom.is("input")) 
            return true;
        event.preventDefault();
    }
});

$(document).ready(function(){

    // Feature 10: Translation system - translate static UI elements
    $("[tr-data]").each(function(i,el){
      if( trans = tr($(el).text()) ) {
        $(el).text(trans)
      }
    })

    $("#language-picker").text( available_locales[$.cookie("locale") || "en"]["label"] );

    // Fill translation menu
    var $language_menu = $("#language-picker-menu")
    $.each( available_locales, function(locale, locale_info){
      var $el = $('<li ><a href="javascript:change_locale(\''+locale.trim()+'\')">' + locale_info["label"] + '</a></li>' );
      $language_menu.append( $el )
    })

    rangy.init();
    
    <% if current_user.present? %>        
        EditorAccount.setUserSession({ 
            id:         <%= current_user.id %>, 
            email:      '<%= current_user.email %>'
        });
        EditorAccount.fetchStories({
            success:function() {
                EditorMenu.processSignedInTasks();
            }
        });
    <% else %>
        // Locally saved story
        if( EditorAccount.hasLocalStoryData() ) {
            Editor.setup();
            EditorMenu.loadLocalStory();
        }
    
        // Starting a new session
        else {
            new Splash();
        }
        
    <% end %>
    EditorMenu.setup();
    
    sizeEditorCorrectly();
    $(window).resize(sizeEditorCorrectly);        
})

</script>

    <div id="account_container">
        <div id="fileMenu">
            
        </div>
        <div id="editMenu">
            
        </div>
    </div>

</div>

