html {
	height: 100%;
    width: 100%;
  	background-color: white;
}

body {
	background-color: white;
	overflow: auto;
	height: 100%;
}

#inking {

	// width: auto;
	margin: 0 auto;
	padding: 20px 5px 10px 5px;
	max-width: 1000px;
	width: 100%;

	h1 {
		text-align: left;
		font-size: 24px;
		margin: 5px 0 10px 0;
	}

	textarea {
		// display: block;
	    
	    max-width: 978px;
	    border-radius: 5px;
	    width: 90%;
	    padding: 10px;

	}

	.input_option {
		padding: 10px 0 10px 0;
	}

	.inline {
		display: inline-block;
	}

	.converted_ink {
		margin: 20px 0;

		#download_button {
			max-width: 90%;
		}

		#result_ink{
			margin: 20px 0 0 0;
			padding: 20px 5px;
			border-radius: 5px;
			box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.13);
			overflow: scroll;
			width: 90%;
			height: 200px;
			white-space: pre-wrap;
			display: inline-block;
		}
	}

}
