// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img {
    border: none
}

html {
    background: gray;
    height: 100%
}

body {
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    height: 100%
}

h1 {
    text-align: center
}

div {
    position: relative;
    margin: 0;
    padding: 0
}

#main_viewport {
    height: 99.9%;
    background-image: url("../img/wood.jpg")
}

#branding {
    height: 47px
}

#branding #red {
    width: 100%;
    height: 30px
}

#branding #shelf {
    width: 100%;
    height: 17px;
    background-image: url(../img/shelf_small.jpg)
}

#branding #logo {
    position: fixed;
    width: 200px;
    height: 47px;
    top: 0px;
    left: 0px
}

#account_container {
    position: relative;
    width: 100%;
    height: 44px;
    margin: 0 auto;
    background-image: url("../img/menubar_bg.png");
    color: white;
    -webkit-box-shadow: 0px 2px 10px black;
    z-index: 2;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden
}

#account_container #editMenu {
    display: inline-block;
    float: right;
    height: 44px
}

#account_container #fileMenu {
    display: inline-block;
    float: left;
    height: 44px
}

.menuOption {
    float: left;
    display: block;
    height: 43px;
    padding-top: 1px;
    width: auto;
    color: black;
    font-weight: bold;
    text-shadow: 0px 1px 1px white;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 44px
}

.menuOption:hover:not(.disabled) {
    color: white;
    text-shadow: 0px 1px 1px black
}

.menuOption .toggledto {
    font-weight: normal;
    color: #B00;
    text-shadow: 0px 1px 1px rgba(1, 1, 1, 0.3)
}

.menuOption .disabled {
    color: gray;
    text-shadow: 0px 1px 1px rgba(1, 1, 1, 0.3)
}

.menuOption:active {
    background: black;
    background: rgba(0, 0, 0, 0.2)
}

#account_container .separator {
    display: block;
    float: left;
    background-image: url("../img/menubar_divider.png");
    width: 2px;
    height: 44px
}

#saveStateMessage {
    font-size: 9pt;
    font-style: italic;
    margin-right: 15px;
    text-shadow: none;
    right: 2px;
    top: 10px;
    color: white;
    max-height: 30px;
    overflow: hidden
}

#right-shelf-container {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 70%;
    height: 50px;
    text-align: right
}

a.shelf-icon {
    float: right;
    display: block;
    width: 34px;
    height: 34px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    background-position: left center;
    cursor: pointer
}

a.shelf-text {
    color: white;
    display: block;
    float: right;
    font-size: 9pt;
    font-style: italic;
    padding: .81em 0.4em 0em 0.4em;
    text-decoration: none;
}
a.shelf-icon:hover {
    background-position: right center
}

.titleField {
    display: inline-block;
    font-weight: bold;
    background: black;
    background: rgba(50, 50, 50, 0.6);
    color: white;
    box-shadow: inset 0 1px 2px black;
    text-shadow: 0px 1px 1px black;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px
}

.titleField br {
    line-height: 25px
}

#storyNameField {
    font-size: 18pt;
    line-height: 37px;
    margin-bottom: 5px
}

#authorNameField {
    font-size: 13pt;
    line-height: 25px;
    margin-top: 5px
}

.titleField:hover {
    background: black;
    background: rgba(0, 0, 0, 0.6)
}

.eventAbsorber {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 10000
}

.dialogue {
    position: fixed;
    width: 450px;
    height: 300px;
    border: 6px solid #d03333;
    z-index: 10000
}

.dialogue {
    border-radius: 20px;
    box-shadow: 0px 5px 20px #000
}

.dialogue #bg {
    border-radius: 12px
}

.dialogue #bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    opacity: 1.0;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5)
}

.dialogue #content {
    padding: 30px;
    padding-bottom: 1px;
    color: #3a3a3a;
    text-align: left;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.dialogue #content a {
    color: #aa0000
}

.dialogue #content a:hover {
    color: red
}

.dialogue #content a:active {
    color: #888
}

.dialogue #footer {
    padding: 0px 0px 20px 20px;
    color: #3a3a3a;
    text-align: left;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 12px
}

.dialogue #buttons {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: right
}

.dialogue #buttons .button {
    position: relative;
    display: inline-block;
    height: 23px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 14px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 24px;
    background: #9c9c9c;
    background: -moz-linear-gradient(top, #b5b5b5 0%, gray 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5b5b5), color-stop(100%, gray));
    background: -webkit-linear-gradient(top, #b5b5b5 0%, gray 100%);
    background: -o-linear-gradient(top, #b5b5b5 0%, gray 100%);
    background: -ms-linear-gradient(top, #b5b5b5 0%, gray 100%);
    background: linear-gradient(top, #b5b5b5 0%, gray 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#808080', GradientType=0);
    box-shadow: 0px 1px 2px black;
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    font-size: 14pt;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.dialogue #buttons .button:hover {
    background: #808080
}

.dialogue #buttons .button:active {
    background: red
}

.dialogue #buttons .button.disabled {
    border: 1px solid #BBB;
    color: #BBB;
    background: none;
    text-shadow: none;
    box-shadow: none;
    pointer-events: none
}

.dialogue #content .fields {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px
}

.dialogue #content .fields .field {
    width: 100%;
    height: 40px;
    margin: 5px
}

.dialogue #content .fields .field #label {
    position: relative;
    display: inline;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 11pt
}

.dialogue #content .fields .field input {
    position: relative;
    display: inline-block;
    width: 75%;
    height: 30px;
    float: right
}

.dialogue #content ul#fileList {
    position: relative;
    display: block;
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #DDD;
    margin: 0 auto;
    padding: 1px;
    box-shadow: inset 0px 1px 2px black
}

.dialogue #content ul#fileList li {
    text-align: left;
    padding: 15px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.dialogue #content ul#fileList li:nth-child(even) {
    background: #d8d8d8
}

.dialogue #content ul#fileList li.selected {
    background: red;
    color: white
}

.dialogue #content ul#fileList li .button.delete {
    float: right;
    display: block;
    width: 20px;
    height: 18px;
    padding-top: 2px;
    background-color: gray;
    color: white;
    text-align: center
}

.dialogue #content ul#fileList li .button.delete:hover {
    background-color: #F00
}

.dialogue #content ul#fileList li .button.delete:active {
    background-color: #600
}

.dialogue h1 {
    font-family: Baskerville, Times, "Times New Roman", serif;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    padding-bottom: 20px;
    font-size: 36pt;
    color: #d03333
}

.dialogue #content .optionSet {
    position: relative;
    display: table;
    width: 100%;
    background-color: #DDD;
    margin: 0 auto;
    padding: 10px;
    box-shadow: inset 0px 1px 2px black;
    font-size: 15px
}

.dialogue #content .optionSet .dialogueBoxOption {
    display: table-cell;
    text-align: center
}


.dialogue #content input.selectInput {
    border-radius: 20px;
    font-size: 14px;
    text-decoration: underline;
    padding: 10px;
    width: 95%;
    margin: 0px 0px 20px;
}

.dialogue #content .optionSet label {
    padding: 4px
}

.dialogue p {
    margin-bottom: 20px
}

.dialogue #footer .aside_help {
    color: #aa0000;
}

.splash {
    position: fixed;
    width: 600px;
    height: 380px;
    border: 8px solid rgba(0, 0, 0, 0.5);
    z-index: 10000;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5)
}

.splash {
    border-radius: 20px
}

.splash #bg {
    border-radius: 16px
}

.splash #bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #d2d2d2
}

.splash #content {
    position: static;
    border-radius: 12px;
    padding-bottom: 1px;
    color: white;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.splash #header {
    background-color: #b12b22;
    background: #c03025;
    background: -moz-radial-gradient(center, ellipse cover, #c03025 0%, #8a201a 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #c03025), color-stop(100%, #8a201a));
    background: -webkit-radial-gradient(center, ellipse cover, #c03025 0%, #8a201a 100%);
    background: -o-radial-gradient(center, ellipse cover, #c03025 0%, #8a201a 100%);
    background: -ms-radial-gradient(center, ellipse cover, #c03025 0%, #8a201a 100%);
    background: radial-gradient(center, ellipse cover, #c03025 0%, #8a201a 100%);
    width: 100%;
    height: 166px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.splash #header #welcome-message {
    font-weight: bold;
    font-size: 14pt;
    padding: 12px
}

.splash #menu {
    background-color: #d2d2d2;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #c5c5c5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6d6d6), color-stop(100%, #c5c5c5));
    background: -webkit-linear-gradient(top, #d6d6d6 0%, #c5c5c5 100%);
    background: -o-linear-gradient(top, #d6d6d6 0%, #c5c5c5 100%);
    background: -ms-linear-gradient(top, #d6d6d6 0%, #c5c5c5 100%);
    background: linear-gradient(top, #d6d6d6 0%, #c5c5c5 100%);
    width: 100%;
    height: 215px;
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px
}

.splash #menu ul {
    padding: 5px
}

.splash #menu li {
    padding: 8px
}

.splash #menu p {
    color: #888;
    font-style: italic;
    font-size: 10pt;
    padding-top: 0px
}

.splash .button {
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 40px;
    background-color: #a3a3a3;
    background: #b0b0b0;
    background: -moz-linear-gradient(top, #b0b0b0 0%, #a5a5a5 24%, #a5a5a5 67%, #8e8e8e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0b0b0), color-stop(24%, #a5a5a5), color-stop(67%, #a5a5a5), color-stop(100%, #8e8e8e));
    background: -webkit-linear-gradient(top, #b0b0b0 0%, #a5a5a5 24%, #a5a5a5 67%, #8e8e8e 100%);
    background: -o-linear-gradient(top, #b0b0b0 0%, #a5a5a5 24%, #a5a5a5 67%, #8e8e8e 100%);
    background: -ms-linear-gradient(top, #b0b0b0 0%, #a5a5a5 24%, #a5a5a5 67%, #8e8e8e 100%);
    background: linear-gradient(top, #b0b0b0 0%, #a5a5a5 24%, #a5a5a5 67%, #8e8e8e 100%);
    font-weight: 600;
    font-size: 18pt;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 2px black;
    color: #222;
    width: 300px
}

.splash .button#tutorial {
    color: white;
    background-color: red;
    background: -moz-linear-gradient(top, #f97575 0%, #f93130 24%, #f93130 67%, #d12323 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f97575), color-stop(24%, #f93130), color-stop(67%, #f93130), color-stop(100%, #d12323));
    background: -webkit-linear-gradient(top, #f97575 0%, #f93130 24%, #f93130 67%, #d12323 100%);
    background: -o-linear-gradient(top, #f97575 0%, #f93130 24%, #f93130 67%, #d12323 100%);
    background: -ms-linear-gradient(top, #f97575 0%, #f93130 24%, #f93130 67%, #d12323 100%);
    background: linear-gradient(top, #f97575 0%, #f93130 24%, #f93130 67%, #d12323 100%);
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5)
}

.splash .button:hover {
    background: gray;
    cursor: pointer
}

.splash .button:active {
    background: #666
}

.splash .button#tutorial:hover {
    background: #c5201f
}

.splash .button#tutorial:active {
    background: #b00
}

.splash #splash-splats {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 73px;
    height: 131px
}

#editor_container {
    position: relative;
    width: 100%;
    height: 100%;
    color: #555;
    background-color: #888;
    margin: 0 auto;
    padding: 0
}

#read_area {
    position: absolute;
    left: 0px;
    height: 100%;
    vertical-align: middle;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    z-index: 0;
    background-image: url("../img/wood.jpg");
    box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.8)
}

.split-screen {
    width: 70%
}

.full-screen {
    width: 100%
}

#stitch_list_area {
    position: absolute;
    right: 0px;
    max-width: 30%;
    height: 100%;
    vertical-align: middle;
    background: #DDD;
    background-color: #444;
    background-image: url("../img/linen.jpg")
}

.expanded {
    width: 30%;
    min-width: 200px
}

.collapsed {
    width: 0%;
    min-width: 0px
}

#stitch_list_area .header {
    position: static;
    padding-left: 10px;
    margin-top: 1px;
    padding-top: 5px;
    font-size: 12pt;
    font-weight: bold;
    color: #414141;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    height: 30px;
    line-height: 25px;
    text-align: left;
    width: 100%;
    z-index: 50;
    background: #888;
    background: -moz-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(100%, #b8b8b8));
    background: -webkit-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -o-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -ms-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#b8b8b8', GradientType=0);
    border: 1px solid black
}

#stitch_list_area .header .text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer
}

#stitch_list_area .wc {
    font-size: 8px;
    top: -14px;
    right: 192px;
    text-align: right
}

#stitch_list_area.collapsed .wc {
    display: none
}

#stitch_list_scrolling {
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0px;
    height: 100%
}

#stitch_list {
    border: 0px;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px black;
    background-color: #ededed
}

#stitch_list .instruction {
    display: inline;
    font-style: italic;
    text-shadow: none;
    font-size: 10pt;
    font-weight: normal
}

#stitch_list .visible {
    background-color: darkGray
}

#stitch_list .selected {
    background-color: paleGoldenrod
}

#stitch_list .disabled {
    opacity: 0.5;
    font-style: italic
}

#stitch_list tr:not(.page):not(.footer) {
    border: 0;
    border-top: 2px groove rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid gray;
    height: 40px;
    color: #3b3b3b
}

#stitch_list tr:not(.page):not(.footer):not(.disabled) {
    cursor: pointer
}

#stitch_list td {
    padding-left: 10px;
    font-size: 9pt;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer
}

#stitch_list tr.header,
#stitch_list tr.header.disabled {
    font-size: 12pt;
    color: #414141;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    height: 30px;
    line-height: 25px;
    text-align: left
}

#stitch_list tr.page {
    background: #CCC;
    background: -moz-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(100%, #b8b8b8));
    background: -webkit-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -o-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -ms-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#b8b8b8', GradientType=0);
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    padding-bottom: 0px;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    color: #333;
    height: 40px;
    line-height: 20px;
    cursor: pointer
}

#stitch_list tr:hover:not(.disabled) {
    background-color: #ACF
}

#stitch_list .collapser {
    display: inline;
    top: 6px
}

.tri_button {
    display: inline;
    width: 11px;
    height: 11px;
    opacity: 0.3;
    top: 1px
}

.tri_button.open {
    background-image: url("../img/disclose-open.png")
}

.tri_button.close {
    background-image: url("../img/disclose-close.png")
}

#stitch_list tr.highlighted,
tr.highlighted:nth-child(odd) {
    background-color: #55A;
    color: white
}

.stitchButton {
    float: right;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/close.png");
    opacity: 0.4;
    cursor: pointer;
    z-index: 1;
    margin: 5px
}

.stitchButton.searchButton {
    background-image: url("../img/forwardwind.png")
}

.stitchButton.rewindStitchListButton {
    background-image: url("../img/rewind.png")
}

.stitchButton.linkButton {
    background-image: url("../img/link.png")
}

.stitchButton.deleteButton {
    background-image: url("../img/close.png")
}

.stitchButton.disabled {
    display: none
}

.stitchButton:hover:not(.disabled) {
    opacity: 0.7
}

#stitch_list #flags {
    text-align: right;
    clear: both
}

#stitch_list #flags .flag {
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 2px 5px 2px 5px;
    margin: 2px
}

.stats {
    text-align: right;
    font-style: italic;
    clear: both;
    color: #BBB;
    margin: 4px
}

#find_box {
    position: absolute;
    right: 0px;
    font-size: 12pt;
    line-height: 22px;
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 7px;
    width: 160px;
    height: 24px;
    top: 0px;
    background: white;
    border-radius: 20px;
    border: 1px solid #AAA;
    text-align: left;
    color: #444;
    padding-top: 1px;
    padding-left: 12px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2)
}

#find_box .icon {
    display: inline-block;
    height: 17px;
    width: 25px;
    position: absolute;
    left: 2px;
    z-index: 1000;
    top: 4px
}

#find_box .icon.clear {
    background: url("../img/small-black-cross.png") no-repeat center center;
    opacity: 0.5
}

#find_box .icon.clear:hover {
    opacity: 1.0;
    cursor: pointer
}

#find_box .icon.search {
    background: url("../img/magnifying_glass_icon.png") no-repeat
}

#find_box #searchTerm {
    border-radius: 40px;
    display: inline-block;
    width: 115px;
    padding-left: 17px;
    padding-right: 5px;
    font-size: 11pt;
    font-weight: normal
}

.chunk {
    width: 400px;
    height: auto;
    margin: auto
}

.rewindButton {
    position: absolute;
    right: 7px;
    top: 14px;
    width: 60px;
    height: 21px;
    background: url("../img/back-arrow.png") right center;
    z-index: 4;
    opacity: 0.4;
    cursor: pointer;
    font-size: 10px;
    background-repeat: no-repeat;
    text-align: left;
    padding-top: 5px;
    font-style: italic
}

.rewindButton.noText {
    width: 21px
}

.rewindButton:hover {
    opacity: 0.6
}

.rewindButton:active {
    opacity: 0.9
}

.chunkLabel,
.chunkStatsLabel {
    position: absolute;
    font-style: italic;
    font-size: 8pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 3
}

.chunkLabel {
    left: 10px;
    top: 10px;
    text-align: center;
    font-weight: bold;
    width: 380px;
    color: #333
}

.chunkStatsLabel {
    right: 9px;
    bottom: 40px;
    width: 350px;
    text-align: right;
    color: #888
}

.important {
    color: red;
    font-style: italic;
    font-size: 9pt
}

.important.inline {
    display: inline;
    padding-left: 15px;
    font-size: 10px
}

.shortcut {
    cursor: pointer
}

.shortcut:hover {
    background: darkgray
}

.stitchBox {
    width: 100%
}

.stitchBox .backlinks {
    left: 0px;
    font-size: 12px;
    font-style: italic;
    color: red;
    padding-left: 10px;
    text-align: left;
    z-index: 50;
    top: 20px
}

.stitchBox .stitchImage {
    padding-top: 40px
}

.stitchBox .stitchImage img {
    margin: 0 auto;
    z-index: 50;
    max-height: 180px;
    max-width: 360px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer
}

.stitchBox .stitchImage img:hover {
    box-shadow: 0px 0px 20px #82c8ff;
    -webkit-box-shadow: 0px 0px 40px #82c8ff
}

#imagepreview {
    max-width: 80px;
    max-height: 100px;
    top: 20px;
    right: 10px;
    position: absolute;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
}

.stitchBoxBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 130px
}

.stitchBoxBackground .paper-top {
    position: absolute;
    background-image: url("../img/lined-paper-top.png");
    width: 415px;
    height: 45px;
    left: -16px;
    top: 0px
}

.stitchBoxBackground .paper-mid {
    position: absolute;
    background-image: url("../img/lined-paper-mid.png");
    width: 415px;
    min-height: 24px;
    top: 45px;
    bottom: 61px;
    left: -16px;
    height: auto
}

.stitchBoxBackground .paper-bottom {
    position: absolute;
    background-image: url("../img/lined-paper-bottom.png");
    width: 415px;
    height: 61px;
    left: -16px;
    bottom: 0px
}

.stitchBox+.stitchBox {
    margin-top: -50px
}

.stitchBox+.stitchBox .stitchBoxBackground .paper-top {
    background-image: url("../img/lined-paper-top-cut.png")
}

.ghost {
    margin-top: -20px;
    opacity: 0.6
}

.stitchBox.ghost+.option.ghost {
    margin-top: -25px
}

.stitchText {
    min-height: 60px;
    padding-top: 24px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    white-space: pre-wrap;
    font-size: 12pt;
    line-height: 24px;
    text-indent: 6px
}

.chunk.leading-edge .stitchBox:last-child .stitchText {
    padding-bottom: 20px
}

.chunk.leading-edge .stitchBox:last-child .stitchText {
    border-bottom: 2px ridge #888
}

.chunk.leading-edge .stitchBox:last-child .stitchBoxBackground {
    min-height: 0px
}

.chunk.leading-edge .stitchBox:last-child .stitchBoxBackground .paper-mid {
    bottom: 0px
}

.chunk.leading-edge .stitchBox:last-child .stitchBoxBackground .paper-bottom {
    background: none;
    height: 0px
}

.chunk.leading-edge .chunkStatsLabel {
    bottom: 12px
}

#read_area.compact .stitchText {
    font-size: 10pt;
    line-height: 18px;
    text-indent: 4px
}

#read_area.compact .optionText {
    font-size: 13pt;
    line-height: 26px
}

#read_area.compact .followLinkButton {
    background-size: 100%;
    width: 31px;
    height: 31px
}

#read_area.compact .chunk {
    width: 450px
}

#read_area.compact .options {
    width: 450px
}

#read_area.compact .option,
#read_area.compact .fake_option {
    height: 37px;
    width: 450px
}

#read_area.compact .paper-top,
#read_area.compact .paper-mid,
#read_area.compact .paper-bottom {
    background-size: 100%;
    width: 487px;
    left: -18px
}

#read_area.compact .stitchLinkButton {
    width: 445px
}

#read_area.compact .stitchLinkButton.larger {
    width: 365px
}

#read_area.compact .flagBox,
#read_area.compact .flagBox.unused:hover {
    left: 350px
}

#read_area.compact .pageBox {
    right: 450px
}

#read_area.compact .flagBox.unused {
    left: 250px
}

#read_area.compact .conditionalText.expanded {
    width: 449px
}

#read_area.compact .conditionalText.expanded .flagListBlock.left {
    width: 223px
}

#read_area.compact .conditionalText.expanded .flagListBlock.right {
    width: 224px
}

#read_area.dense .stitchText {
    font-size: 9pt;
    line-height: 14px;
    text-indent: 2px;
    min-height: 25px
}

#read_area.dense .followLinkButton {
    background-size: 100%;
    width: 27px;
    height: 28px
}

#read_area.dense .optionText {
    font-size: 12pt;
    line-height: 22px
}

#read_area.dense .chunk {
    width: 500px
}

#read_area.dense .options {
    width: 500px
}

#read_area.dense .option,
#read_area.dense .fake_option {
    height: 36px;
    width: 500px
}

#read_area.dense .paper-top,
#read_area.dense .paper-mid,
#read_area.dense .paper-bottom {
    background-size: 100%;
    width: 540px;
    left: -20px
}

#read_area.dense .paper-bottom {
    bottom: 12px
}

#read_area.dense .stitchLinkButton {
    width: 495px
}

#read_area.dense .stitchLinkButton.larger {
    width: 415px
}

#read_area.dense .flagBox,
#read_area.dense .flagBox.unused:hover {
    left: 400px
}

#read_area.dense .pageBox {
    right: 500px
}

#read_area.dense .flagBox.unused {
    left: 300px
}

#read_area.dense .conditionalText.expanded {
    width: 499px
}

#read_area.dense .conditionalText.expanded .flagListBlock.left {
    width: 248px
}

#read_area.dense .conditionalText.expanded .flagListBlock.right {
    width: 249px
}

#embeddedlink {
    color: blue;
    font-size: 12px;
    display: inline
}

#sayfunction {
    color: blue;
    font-size: 13px;
    display: inline
}

#midlink {
    color: red;
    display: inline;
    bottom: -2px;
    font-weight: bold
}

#logic {
    color: red;
    display: inline
}

.midtext_logic_brace {
    color: black;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    background-color: lightGreen;
    font-weight: 900
}

.midtext_logic_flag {
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 2px 5px 2px 5px;
    margin: 2px;
    font-size: 10pt;
    cursor: pointer
}

.flagBox {
    position: absolute;
    left: 300px;
    top: 15px;
    width: auto;
    min-width: 100px;
    padding: 5px;
    font-size: 10px;
    line-height: 20px;
    min-height: 41px;
    height: auto;
    z-index: -1
}

.flagBox.unused {
    left: 300px
}

.flagBox.unused:not(.usingIE) {
    left: 160px;
    -ms-transition-property: left;
    -ms-transition-duration: 0.5s;
    -o-transition-property: left;
    -o-transition-duration: 0.5s;
    -moz-transition-property: left;
    -moz-transition-duration: 0.5s;
    -webkit-transition-property: left;
    -webkit-transition-duration: 0.5s
}

.flagBox.unused:hover {
    left: 300px
}

.flagBox #flags {
    white-space: nowrap;
    padding-right: 50px;
    padding-left: 110px;
    padding-top: 5px;
    padding-bottom: 10px
}

.flagBox #flagBoxBackgroundLeft {
    position: absolute;
    left: 0px;
    right: 12px;
    width: auto;
    height: auto;
    top: 0px;
    bottom: 0px
}

.flagBox #flagBoxBackgroundRight {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 12px;
    height: auto
}

.flagBox #flagBoxBackgroundLeft img,
.flagBox #flagBoxBackgroundRight img {
    width: 100%;
    height: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none
}

#flags li {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 80px;
    text-align: left;
    cursor: pointer;
    line-height: 20px;
    clear: both
}

.flagBox #flags li .icon {
    float: left;
    width: 14px;
    height: 14px;
    margin: 3px;
    margin-right: 5px;
    margin-left: 0px;
    cursor: pointer;
    opacity: 1.0;
    vertical-align: text-bottom
}

.flagBox #flags li.addFlag {
    font-style: italic
}

.flagBox #flags li:hover {
    background: black;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer
}

.flagBox #flags li.addFlag:active {
    background: black;
    background: rgba(0, 0, 0, 0.3)
}

li+li.addFlag {
    border-top: 1px dashed white;
    border-top: 1px dashed rgba(255, 255, 255, 0.4)
}

.flagBox #flags li.addFlag .icon {
    background-image: url(../img/bookmark-plus.png);
    opacity: 0.5
}

.flagBox #flags li.addFlag:hover .icon {
    opacity: 1.0
}

.flagBox #flags li.flag .remove.icon {
    background-image: url(../img/bookmark-cross.png);
    opacity: 0.5
}

.flagBox #flags li.flag .remove.icon:hover {
    opacity: 1.0
}

.flag_button {
    color: green;
    width: 14px;
    height: 14px;
    margin: 2px;
    margin-right: 6px;
    background-color: white;
    font-size: 16px;
    z-index: 50;
    float: left
}

.flag_button.plus {
    background: url(../img/small-plus-black.png) no-repeat
}

.flag_button.minus {
    background: url(../img/bookmark-cross.png) no-repeat
}

.pageBox {
    min-width: 100px;
    width: auto;
    position: absolute;
    right: 400px;
    top: 45px;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    height: auto;
    z-index: -1;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    white-space: nowrap;
    color: #EEE
}

.page_button {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    font-size: 16px;
    border: 2px blue;
    border-radius: 5px;
    cursor: pointer;
    z-index: 50;
    opacity: 0.4
}

.page_button.plus {
    background-image: url("../img/link.png")
}

.page_button.minus {
    background-image: url("../img/close.png")
}

.options {
    width: 400px;
    margin: 0 auto
}

.option {
    position: relative;
    display: block;
    width: 399px;
    margin: 0 auto;
    border-top: 1px solid #999;
    background-color: #e7e7e7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6), inset 0px 2px 6px rgba(0, 0, 0, 0.2);
    height: 43px;
    padding-top: 7px
}

.option.disabled {
    background-color: #f7d1d1
}

.option.conditionalised {
    height: 50px
}

.option:last-child {
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px
}

.option.highlighted {
    background-color: #EEF
}

.optionText {
    position: relative;
    margin: 0;
    margin-right: 40px;
    margin-left: 30px;
    width: 324px;
    max-width: 324px;
    height: 50px;
    max-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 35px;
    font-weight: normal;
    font-size: 14pt;
    text-shadow: 0px 1px 1px white;
    text-align: left;
    color: #333
}

.optionText.disabled {
    background: #646464;
    background: rgba(100, 100, 100, 0.2)
}

#paddingDiv {
    width: 100%;
    height: 40px
}

.fake_option {
    position: relative;
    display: block;
    width: 399px;
    height: 50px;
    margin: 0 auto;
    border-top: 1px solid #333;
    top: -30px;
    background-color: #b0b0b0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6), inset 0px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -moz-border-radius-bottomright: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px
}

.fake_option .optionText {
    top: 7px
}

#editor_container .button {
    background-color: #AAF;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 27px;
    padding-top: 3;
    font-size: 14;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#editor_container .button:hover {
    background-color: #55F
}

#editor_container .button.disabled {
    opacity: 0.2;
    cursor: default;
    background-color: gray
}

#editor_container .followLinkButton {
    position: absolute;
    width: 39px;
    height: 39px;
    background-image: url("../img/arrow-linked.png");
    right: 6px;
    top: 5px;
    opacity: 0.4;
    cursor: pointer
}

#editor_container .followLinkButton.unlinked {
    background-image: url("../img/arrow-unlinked.png");
    background-color: transparent;
    opacity: 0.7
}

#editor_container .followLinkButton:hover:not(.disabled) {
    background-color: transparent;
    opacity: 1.0
}

#editor_container .followLinkButton.unlinked:hover:not(.disabled) {
    background-image: url("../img/arrow-linked.png");
    opacity: 0.1
}

#editor_container .followLinkButton.disabled {
    background-color: transparent;
    opacity: 0.1;
    padding: 0px;
    cursor: auto
}

#editor_container .stitchLinkButton {
    display: block;
    position: relative;
    width: 395px;
    line-height: 44px;
    font-size: 14pt;
    font-style: italic;
    font-weight: normal;
    text-shadow: 0px 1px 1px black;
    border: 2px dashed white;
    border-top: none;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    background: black;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    color: white;
    margin: 5px auto;
    margin-top: 0px;
    z-index: -1
}

#editor_container .stitchLinkButton.larger {
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    width: 315px
}

#editor_container .newOptionButton .instruction {
    font-size: 10pt;
    top: -26px;
    opacity: 0.7
}

#editor_container .newOptionButton:hover {
    background: black;
    background: rgba(0, 0, 0, 0.5)
}

#editor_container .newOptionButton:active {
    background: black;
    background-color: rgba(0, 0, 0, 0.6)
}

#editor_container .joinButton {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    z-index: 50
}

#editor_container .joinButton {
    right: 109px;
    bottom: -33px
}

#editor_container .unjoinButton {
    position: absolute;
    background: url(../img/unlink.png) 0px 0px;
    width: 63px;
    height: 40px;
    line-height: 40px;
    text-shadow: 0px -1px 1px gray;
    font-size: 11pt;
    left: -31px;
    top: -20px;
    color: white;
    cursor: pointer
}

#editor_container .unjoinButton:hover {
    background: url(../img/unlink.png) 0px 40px
}

#editor_container .unjoinButton.directlinked {
    top: -10px
}

#editor_container .unjoinButton.optionlinked {
    top: -30px;
    left: 170px
}

#editor_container .linkDeleteButton {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    display: none;
    background-image: url("../img/close.png");
    opacity: 0.4;
    cursor: pointer;
    z-index: 1
}

#editor_container .linkDeleteButton:hover {
    opacity: 0.6
}

#editor_container .linkDeleteButton:active {
    opacity: 1.0
}

#editor_container .linkDeleteButton.disabled {
    cursor: auto
}

#editor_container .footerButtons {
    text-align: center;
    margin: 10px
}

.stitchBox.leading-edge {
    color: black
}

.conditionalText {
    position: absolute;
    vertical-align: bottom;
    font-size: 12px;
    margin-right: 50px;
    overflow-x: visible;
    z-index: 30;
    line-height: 16px;
    cursor: pointer;
    display: none
}

.conditionalText:not(.expanded) {
    min-width: 120px !important;
    max-width: 300px;
    background: #acacac;
    background: -moz-linear-gradient(top, #acacac 0%, #8d8d8d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acacac), color-stop(100%, #8d8d8d));
    background: -webkit-linear-gradient(top, #acacac 0%, #8d8d8d 100%);
    background: -o-linear-gradient(top, #acacac 0%, #8d8d8d 100%);
    background: -ms-linear-gradient(top, #acacac 0%, #8d8d8d 100%);
    background: linear-gradient(top, #acacac 0%, #8d8d8d 100%);
    box-shadow: 0px 1px 1px black;
    border-radius: 6px;
    height: 18px;
    overflow-y: hidden;
    width: 300px;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    left: 40px
}

.conditionalText:not(.expanded):hover {
    background: #666
}

.conditionalText:not(.expanded) .message {
    padding-left: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7);
    color: white
}

.conditionalText.expanded .message {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9)
}

.stitchBox .conditionalText:not(.expanded) {
    bottom: 30px
}

.stitchBox:last-child .conditionalText:not(.expanded) {
    bottom: 20px
}

.stitchBox.leading-edge .conditionalText:not(.expanded) {
    bottom: -8px
}

.option .conditionalText:not(.expanded) {
    bottom: -8px
}

.conditionalText:hover {
    background-color: #919191
}

.conditionalText.active {
    display: block
}

.conditionalText.expanded {
    background: #acacac;
    background: -moz-linear-gradient(top, #acacac 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acacac), color-stop(100%, #eee));
    background: -webkit-linear-gradient(top, #acacac 0%, #eee 100%);
    background: -o-linear-gradient(top, #acacac 0%, #eee 100%);
    background: -ms-linear-gradient(top, #acacac 0%, #eee 100%);
    background: linear-gradient(top, #acacac 0%, #eee 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    width: 399px;
    z-index: 80;
    height: 60px;
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top: 2px groove white;
    border-top: 2px groove rgba(255, 255, 255, 0.5);
    display: block
}

.conditionsBlock {
    display: none;
    z-index: 80
}

.conditionalText:not(.expanded) .collapser {
    float: left;
    width: 12px;
    height: 14px;
    background: url("../img/conditional-disclosure-closed.png") left center no-repeat
}

.conditionalText .collapser {
    float: left;
    width: 16px;
    height: 16px;
    background: url("../img/conditional-disclosure-open.png") center center no-repeat
}

.conditionalText .message {
    color: white;
    text-align: left;
    padding-left: 25px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.conditionalText.expanded .message {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: -5px;
    height: 18px;
    padding-top: 0px;
    padding-left: 2px
}

.conditionalText .message .logic {
    font-weight: bold
}

.flagListBlock {
    width: 200px;
    position: absolute;
    top: 5px;
    vertical-align: top;
    height: 50px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: black;
    background: #EEE
}

.flagListBlock .title {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 9pt;
    color: #444
}

.flagListBlock.right {
    right: 0px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    width: 199px
}

.flagListBlock.left {
    left: 0px;
    border-top: 1px solid white;
    border-right: 1px solid #c3c3c3;
    width: 198px
}

.flagListBlock .flag_name {
    font-weight: normal;
    min-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 12px
}

.flag_name .entertext {
    width: 170px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 6px;
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    padding-bottom: 2px
}

.flag_name.newFlag .entertext {
    border: 1px dashed #777;
    margin-top: 10px
}

.flag_name.newFlag .entertext:hover {
    background: #DDD
}

.flag_name:not(.newFlag) .entertext {
    background: #c90101;
    color: white
}

#flagEntryPopup {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #EEE;
    z-index: 50000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6), inset 0px 2px 6px rgba(0, 0, 0, 0.2)
}

#flagEntryPopup .nubbin {
    background: url("../img/popupArrow.png");
    position: absolute;
    width: 17px;
    height: 38px;
    left: -17px;
    top: 65px
}

#flagEntryPopup.leftHanded .nubbin {
    left: auto;
    background: url("../img/popupArrow_right.png");
    right: -17px
}

#flagEntryPopup .title {
    color: #3f3f3f;
    background: #888;
    background: -moz-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(100%, #b8b8b8));
    background: -webkit-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -o-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: -ms-linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    background: linear-gradient(top, #d5d5d5 0%, #b8b8b8 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding-left: 9px;
    padding-top: 8px;
    padding-bottom: 4px;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5)
}

#flagEntryPopup .entry {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #AAA;
    margin: 4px;
    text-align: left;
    color: #444;
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 3px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
    height: 13px
}

#flagEntryPopup .suggestions {
    height: 111px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 6px;
    line-height: 14px;
    font-size: 13px
}

#flagEntryPopup .suggestions .hint {
    text-align: center;
    font-style: italic;
    font-size: 8pt;
    padding: 15px 25px 5px 35px
}

#flagEntryPopup .suggestions .suggestion {
    text-align: left;
    border-bottom: 1px solid #EEE;
    padding-top: 6px;
    padding-bottom: 0px;
    padding-left: 4px;
    vertical-align: top;
    height: 22px;
    clear: both;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    line-height: 18px
}

#flagEntryPopup .suggestions .suggestion.highlight {
    background: #4a94ff;
    color: white;
    font-weight: bold
}

#flagEntryPopup .suggestions .suggestion:not(.highlight) .flag_button {
    opacity: 0.5
}

.flagEventAbsorber {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    z-index: 10000
}

#editor_container .instructionArrow {
    position: absolute;
    background: url("../img/point-right-arrow.png") center center;
    height: 140px;
    width: 250px;
    padding-top: 10px;
    top: 0px;
    left: 0px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    background-repeat: no-repeat
}

#player_container {
    position: relative;
    width: 100%;
    height: 100%;
    color: #555;
    background-color: #888;
    margin: 0 auto;
    padding: 0
}

#player_container #read_area {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    background: gray;
    font-family: Baskerville, Georgia, Times, "Times New Roman", serif
}

#player_container #read_area h1 {
    font-size: 36pt;
    font-weight: normal;
    color: #111;
    padding-top: 70px;
    padding-bottom: 10px;
    width: 500px;
    left: -50px
}

#player_container #read_area h2 {
    font-size: 24pt;
    font-weight: normal;
    font-style: italic;
    color: #111;
    padding-bottom: 50px;
    width: 500px;
    left: -50px
}

#player_container .chunk {
    width: 400px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 10px;
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5)
}

#player_container .chunk:first-child {
    margin-top: 40px
}

#player_container .chunk+.chunk {
    margin-top: 0px
}

#player_container .chunk:last-child {
    margin-bottom: 50px
}

#player_container .stitch_block {
    width: 400px;
    font-size: 18px;
    line-height: 1.5em;
    text-indent: 1em;
    text-align: justify;
    color: black;
    padding-bottom: 15px
}

#player_container .chunk .flags {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.3em;
    position: absolute;
    right: -170px;
    text-align: left;
    display: block;
    width: 150px;
    background: #666;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    color: white
}

#player_container .chunk .flags ul {
    list-style: disc inside
}

#player_container .chunk .stitch.openingStitch {
    text-indent: 0em
}

#player_container .chunk .stitch.openingStitch:first-line {
    font-variant: small-caps;
    font-size: 1.2em
}

#player_container .chunk .stitch.openingStitch:first-letter {
    display: block;
    float: left;
    text-indent: 0.5em;
    font-size: 1.5em;
    margin-right: 0.06em;
    margin-left: 0.1em;
    margin-top: 0.0em;
    margin-bottom: 0
}

#player_container .chunk .option_chosen {
    text-align: left;
    font-style: italic;
    padding-bottom: 10px;
    left: -20px
}

#player_container .chunk .the_end {
    font-style: italic;
    text-align: right;
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 20px
}

#player_container .option_button {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    cursor: pointer;
    color: #404040;
    padding-top: 0.6em;
    padding-bottom: 0.6em
}

#player_container .option_button.disabled {
    background-color: #f7d1d1
}

#player_container .option_button:not(.disabled):hover {
    background: url("../img/divider-line.png") repeat-y center
}

#player_container .option_button:active {
    background: #EEE;
    color: black
}

#player_container .option_block {
    padding-top: 20px;
    padding-bottom: 20px
}

#player_container.narrow .chunk {
    padding-left: 4%;
    padding-right: 4%;
    width: 88%
}

#player_container.narrow #read_area h1 {
    width: 80%;
    padding-left: 10%;
    left: 0px
}

#player_container.narrow #read_area h2 {
    width: 80%;
    padding-left: 10%;
    left: 0px
}

#player_container.narrow .stitch_block {
    width: 80%;
    padding-left: 10%;
    text-align: left
}

#player_container.narrow .chunk .flags {
    display: none
}

#player_container.narrow .option_chosen {
    left: -12px
}

#player_container .option-divider {
    background: url("../img/divider-line.png") no-repeat;
    width: 350px;
    height: 1px;
    margin: 0 auto
}

#player_container #wordcount {
    position: fixed;
    bottom: 0px;
    right: 10px;
    font-size: 10px;
    color: white;
    font-style: italic;
    padding: 15px
}

#widgets {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 50px;
    z-index: 50;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    background: #bbb;
    background: -moz-linear-gradient(left, #ddd 0%, #bbb 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ddd), color-stop(100%, #bbb));
    background: -webkit-linear-gradient(left, #ddd 0%, #bbb 100%);
    background: -o-linear-gradient(left, #ddd 0%, #bbb 100%);
    background: -ms-linear-gradient(left, #ddd 0%, #bbb 100%);
    background: linear-gradient(left, #ddd 0%, #bbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#bbb', GradientType=1)
}

#ellipsis {
    position: absolute;
    color: red;
    z-index: 200;
    bottom: 65px;
    right: 6px
}

.widget {
    width: 50px;
    height: 48px;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px #DDD groove
}

.widget:first-child {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.widget:last-child {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
    height: 50px
}

.widget:hover {
    background: #AAA
}

.widget:active {
    background: #888
}

.widget.enabled {
    background: #777
}

#bold.widget {
    background-image: url(../img/widgets/bold.png)
}

#bold.widget.enabled {
    background-image: url(../img/widgets/bold-enabled.png)
}

#italic.widget {
    background-image: url(../img/widgets/italic.png)
}

#italic.widget.enabled {
    background-image: url(../img/widgets/italic-enabled.png)
}

#runOn.widget {
    background-image: url(../img/widgets/elipsis.png)
}

#addCondition.widget {
    background-image: url(../img/widgets/conditional.png)
}

#newSection.widget {
    background-image: url(../img/widgets/new_section.png)
}

#insertImage.widget {
    background-image: url(../img/widgets/insert-image.png)
}

#insertImage.widget.enabled {
    background-image: url(../img/widgets/insert-image-enabled.png)
}

#tooltip {
    position: fixed;
    min-width: 80px !important;
    max-width: 220px !important;
    padding: 4px 10px 3px 10px !important;
    min-height: 18px;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1 !important;
    border-radius: 24px;
    z-index: 10000;
    color: white;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
    font-size: 10pt;
    vertical-align: center !important;
    text-align: center !important;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#graphContainer {
    position: fixed;
    width: 90%;
    top: 5%;
    left: 5%;
    height: 90%;
    border: 8px solid rgba(209, 1, 1, 0.73);
    z-index: 20000;
    border-radius: 4px
}

#graphContainer #title {
    font-size: 18pt;
    color: #959595;
    background: #f8f8f8;
    font-style: italic;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: Baskerville, Times, "Times New Roman", serif;
    display: block;
    position: absolute;
    top: 12px;
    left: 14px;
    z-index: 10000;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

.graph {
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5)
}

.node {
    background-color: white;
    overflow: hidden;
    position: absolute;
    text-align: left;
    z-index: 150;
    vertical-align: top;
    cursor: pointer;
    border-radius: 16px;
    color: #5c5c5c;
    border: 2px solid gray;
    line-height: 1.3em;
    text-align: justify
}

.node .nodeLabel {
    display: block;
    background-color: #800000;
    font-style: italic;
    font-size: 1.2em;
    padding: 6px;
    margin: -4px -4px 4px -4px;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    color: white
}

.node.postnode,
.node.prenode {
    border: 3px dashed gray;
    background-color: white;
    color: gray
}

.node.prenode .nodeLabel {
    color: white
}

.node.postnode .nodeLabel {
    color: white
}

.node.selected {
    background-color: #e85757;
    color: #f7f7f7;
    border: 3px solid #e85757
}

.node.focusStitch {
    border: 2px solid maroon;
    background: #c20000;
    color: #f7f7f7;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4)
}

.node.selected.prenode,
.node.selected.postnode {
    border: 3px dashed #e85757;
    background: #f09e9e
}

#graphContainer .graphControl {
    cursor: pointer;
    position: absolute;
    top: 2px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    z-index: 250
}

#graphContainer .graphControl:hover {
    opacity: 0.8
}

#graphContainer .del {
    background-image: url("../img/close.png");
    right: 16px;
    top: 6px
}

#graphContainer .plus {
    background-image: url("../img/link.png");
    right: 40px;
    top: 6px
}

#graphContainer .minus {
    right: 64px;
    top: 6px;
    background-image: url("../img/minus.png")
}

#graphContainer .label {
    top: 2px;
    left: 25px;
    font-size: 16px;
    background-color: lightgray;
    position: absolute;
    margin: 4px;
    padding: 6px
}

.arrow {
    background-color: black;
    width: 400px;
    height: 4px;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    position: absolute;
    z-index: 125
}

.arrow.travelled {
    background-color: #000AFF
}

.arrow.divertType {
    background-color: gray
}

.arrow.travelled.divertType {
    background-color: #9B9FFA
}

.arrow.goingUp {
    opacity: 0.5;
    height: 2px
}

#sidebar-ads {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: auto;
    z-index: 10000;
}

#sidebar-ads .ad-container {

}

#sidebar-ads .ad-close {
    text-align: center;
    background-color: #271625;
    color: #b1b1b1;
    border-radius: 10px 10px 0 0;
    margin: 0px 10px 0 10px; 
    padding: 4px;
    cursor: pointer;
    opacity: 0.7;
    user-select: none;
}

#sidebar-ads .ad-close:hover {
    // background-color: #712771;
    color: #d5d5d5;
}

#sidebar-ads img {
    // display:inline-block;
}

#sidebar-ads a {
    display: block;
    width: 128px;
    border-radius: 0 0 10px 10px;
    background: #4c4c4c;
    background: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 15px;
    margin: 0px 10px 10px 10px;    


}

#sidebar-ads a:hover {
    background: #222;
    background: rgba(0, 0, 0, 0.5);
}

#sidebar-ads a.ad-link {
    color: white;
    text-decoration: none;
    text-align: left;
}

#sidebar-ads a.ad-link img {
    // float: left;
    // margin-right: 10px;
}

#sidebar-ads a.ad-link h3 {
    font-size: 11pt;
    margin: 5px 0;
    font-weight: 500;
    line-height: 1.15em
}

#sidebar-ads a.ad-link p {
    font-size: 9pt;
    line-height: 1.2em;
    color: #e0e0e0;
}

#player_container #illustration {
    padding: 10px;
    width: 90%;
    text-align: center
}

#player_container .pic {
    max-width: 100%;
    max-height: 200px
}


div.actions input[type=submit]{
    background: rgb(166,166,166);
    background: linear-gradient(0deg, rgb(141, 141, 141) 0%, rgb(190, 190, 190) 100%);
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    color: white;
    text-shadow: 0px -1px 1px #656565;
    box-shadow: 0px 2px 3px #525252;
}
div.actions input[type="submit"]:hover {
    background: #a6a6a6;
    background: linear-gradient(0deg, #828282 0%, rgb(190, 190, 190) 100%);
    text-shadow: 0px 1px 1px #656565;
    box-shadow: inset 0px 2px 3px #8e8e8e;
}
div#error_explanation li {
    color: red;
    margin: 0px 0 40px;
    font-weight: bold;
    font-size: 20px;
}
#player_container #read_area #error_explanation h2 {
    font-size: 24px;
    padding-bottom: 20px;
}
