// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#player_container #read_area h1{
    padding-top:20px !important;
  }
  #player_container .chunk {
    padding: 50px !important;
  }
  p,ul,li,a, h3{
    font-size: 16pt !important;    
    text-align: left !important;
    margin-top: 20px !important;
    line-height: 1.4em !important;
  }
  li{
    list-style-type: decimal !important;
    margin-left: 20px !important;
  }
  h3{
    font-weight: bold !important;
  }
