// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*= require inklewriter.css.scss

.story-not-found{
	#player_container #read_area h1{
    padding-top:20px;

  }
  #player_container .chunk {
    padding: 50px;
  }
  p,ul,li,a, h3{
    font-size: 16pt;    
    text-align: left;
    margin-top: 20px;
    line-height: 1.4em;
  }
  li{
    list-style-type: decimal;
    margin-left: 20px;
  }
  h3{
    font-weight: bold;
  }
}

  

 .cannot-display-story{
  #player_container #read_area h1{
    padding-top:20px;
  }
  #player_container .chunk {
    padding: 50px;
  }
  p,ul,li,a, h3{
    font-size: 16pt;    
    text-align: left;
    margin-top: 20px;
    line-height: 1.4em;
  }
  li{
    list-style-type: decimal;
    margin-left: 20px;
  }
  h3{
    font-weight: bold;
    margin-bottom: 40px;
  }
}




.not-story-owner{
  #player_container #read_area h1{
    padding-top:20px;
  }
  #player_container .chunk {
    padding: 50px;
  }
  p,ul,li,a, h3{
    font-size: 16pt;    
    text-align: left;
    margin-top: 20px;
    line-height: 1.4em;
  }
  li{
    list-style-type: decimal;
    margin-left: 20px;
  }
  h3{
    font-weight: bold;
    margin-bottom: 40px;
  }
}


