<div id="header">
	<div class="container">
		<div id="logo">
			<h1><%= link_to "InkleWriter", community_path %></h1>			
		</div>

		<div id="to-app">
			<%= link_to  "To App â®", root_path %>
		</div>

		<% if user_signed_in? %>
			<div id="user-signed-in">
				<%= link_to "my stories", user_account_path %>
			</div>
		<% else %> 
			<div id="no-user">
				<p>you aren't signed in</p>
			</div>			
		<% end %>
		
	</div>	
</div>


<% content_for :headcss do %>
    <%= stylesheet_link_tag    "layouts/header", media: 'all' %>
<% end %>