<div id="menu">
	<div class="container">
		<div id="menu-items">
			<%= link_to "home", community_path %>
			<%= link_to "how it works", how_it_works_path %>
		</div>
	</div>
</div>

<% content_for :headcss do %>
    <%= stylesheet_link_tag    "layouts/menu", media: 'all' %>
<% end %>