<div id="menu">
	<div class="container">
		<div id="menu-items">
			<span>home</span>
			<span>how it works</span>
		</div>
	</div>
</div>

<% content_for :headcss do %>
    <%= stylesheet_link_tag    "layouts/menu", media: 'all' %>
<% end %>